<div class="main-content">
    <div class="container-fluid">



        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info text-center">
                        <h4 class="card-title">Utenti</h4>

                    </div>


                    <div class="card-body">
                        <div class="table-responsive">



                            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover ">

                                <thead>
                                <tr>
                                    <th>Nome utente</th>
                                    <th>Password</th>
                                    <th>Ruolo</th>
                                    <th>Azioni</th>
                                </tr>
                                </thead>



                                <tbody>
                                <tr *ngFor="let utente of tablerows" class="manina">
                                    <td>{{ utente.username }}</td>
                                    <td>{{ utente.passwordinchiaro }}</td>
                                    <td>{{ prendiruolo(utente) }}</td>

                                    <td><button mat-button mat-flat-button class="btn btn-rose" (click)="rimuoviutente(utente)">Elimina</button></td>
                                </tr>
                                </tbody>

                            </table>





                        </div>
                    </div>
                </div>
            </div>

        </div>



        <button mat-fab class="fab-bottom-right btn btn-warning" aria-label="Aggiungi Cliente" (click)="aggiungiutente()">
            +
        </button>


    </div>
</div>
