// Bootstrap brand color customization


/*     brand Colors              */

$brand-primary:              $blu-parten !default;
$brand-info:                 $blu-parten !default;
$brand-success:              $green-500 !default;
$brand-warning:              $yellow-parten !default;
$brand-danger:               $blu-parten !default;
$brand-rose:                 $light-blue-parten !default;
$brand-inverse:              $black-color !default;
$brand-parten:               $blu-parten !default;

