<button mat-fab class="top-left-custom btn btn-warning" aria-label="Torna indietro" (click)="tornaindietro()">
    <-----------
</button>

<div class="main-content">
    <div class="container-fluid">


        <div class="row">
            <div class="col-md-12">
                <div class="card">


                    <div class="card-header card-header-info text-center">
                        <h4 class="card-title">Aggiungi Fabbisogno</h4>

                    </div>
                    <div class="card-body">
                        <form [formGroup]="aggiungifabbisognoform" (ngSubmit)="aggiungifabbisogno()">
                            <div class="row">
                                <mat-form-field class="col-md-3">
                                    <input matInput placeholder="Data" [autofocus]="true" formControlName="data" type="date">
                                </mat-form-field>
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <mat-label>Fornitore</mat-label>
                                        <div ngbDropdown class="d-inline-block" style="height: 20px">
                                            <input disabled="true" formControlName="fornitore" matInput class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle [(ngModel)]="fornitoreselezionato.nomefornitore">
                                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                                <button ngbDropdownItem *ngFor="let val of listafornitori" type="button" (click)="cambiafornitore(val)">{{val.nomefornitore}}</button>
                                            </div>
                                        </div>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                               <!--     <mat-form-field>
                                    <mat-label>Base di carico</mat-label>
                                    <div ngbDropdown class="d-inline-block" style="height: 20px">
                                        <input disabled="true" formControlName="basedicarico" matInput class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle [(ngModel)]="basedicaricoselezionata.nomebasedicarico">
                                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                            <button ngbDropdownItem *ngFor="let val of listabasidicarico" type="button" (click)="cambiabasedicarico(val)">{{val.nomebasedicarico}}</button>
                                        </div>
                                    </div>
                                    </mat-form-field>  -->
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Base di carico</mat-label>
                                        <input type="text" matInput [formControl]="basedicaricocontrol" [matAutocomplete]="auto">
                                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displaybasedicarico">
                                            <mat-option *ngFor="let val of filteredbasidicarico | async" [value]="val">
                                                {{val.nomebasedicarico}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>


                                </div>
                                <div class="col-md-3">
                                <!--    <mat-form-field>
                                    <mat-label>Punto vendita</mat-label>
                                    <div ngbDropdown class="d-inline-block" style="height: 20px">
                                        <input formControlName="puntovendita" matInput class="btn btn-outline-primary" id="dropdownBasic3" ngbDropdownToggle [(ngModel)]="puntovenditaselezionato.nome">
                                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                            <button ngbDropdownItem *ngFor="let val of listapuntivendita" type="button" (click)="cambiapuntovendita(val)">{{val.puntovendita.nome}}</button>
                                        </div>
                                    </div>
                                    </mat-form-field> -->

                                    <mat-form-field class="example-full-width">
                                        <mat-label>Punto Vendita</mat-label>
                                        <input type="text" matInput [formControl]="puntovenditacontrol" [matAutocomplete]="auto2">
                                        <mat-autocomplete #auto2="matAutocomplete" [displayWith]="displaypuntovendita">
                                            <mat-option *ngFor="let val of filteredpuntovendita | async" [value]="val">
                                                {{val.puntovendita.nome}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>

                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Gasolio" [autofocus]="true" formControlName="gasolio">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Benzina" type="text" formControlName="benzina">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Supreme" [autofocus]="true" formControlName="supreme">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="GPL" type="text" formControlName="gpl">
                                    </mat-form-field>
                                </div>
                            </div>







                            <button mat-raised-button type="submit" class="btn btn-rose pull-right" *ngIf="fabbisogno === undefined">Aggiungi Fabbisogno</button>
                            <button mat-raised-button type="submit" class="btn btn-rose pull-right" *ngIf="fabbisogno !== undefined">Aggiorna Fabbisogno</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>






















    </div>
</div>