<button mat-fab class="top-left-custom btn btn-warning" aria-label="Torna indietro" (click)="tornaindietro()">
    <-----------
</button>

<div class="main-content">
    <div class="container-fluid">


        <div class="row">
            <div class="col-md-12">
                <div class="card">


                    <div class="card-header card-header-info text-center">
                        <h4 class="card-title">Riepilogo</h4>

                    </div>
                    <div class="card-body">

                        <div class="row">
                            <mat-form-field class="col-md-3">
                                <input disabled="true" matInput placeholder="Data consegna" [ngModel]="riepilogo.fabbisogno.data | date :'yyyy-MM-dd'" type="date">
                            </mat-form-field>
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Base di carico" type="text" [ngModel]="riepilogo.fabbisogno.basedicarico.nomebasedicarico" disabled="true">
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Punto vendita" type="text" [ngModel]="riepilogo.fabbisogno.puntoVendita.nome" disabled="true">
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Totale volumi" type="text" [ngModel]="riepilogo.totalevolumicarburantitradizionali | number" disabled="true">
                                </mat-form-field>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Gasolio" type="text" [ngModel]="riepilogo.fabbisogno.gasolio | number" disabled="true">
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Benzina" type="text" [ngModel]="riepilogo.fabbisogno.benzina | number" disabled="true">
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Supreme" type="text" [ngModel]="riepilogo.fabbisogno.supreme | number" disabled="true">
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Gasolio" type="text" [ngModel]="riepilogo.fabbisogno.gpl | number" disabled="true">
                                </mat-form-field>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Cali gasolio" type="text" [(ngModel)]="riepilogo.caligasolio " disabled="true">
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Cali benzina" type="text" [(ngModel)]="riepilogo.calibenzina" disabled="true">
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Cali supreme" type="text" [(ngModel)]="riepilogo.calisupreme" disabled="true">
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Cali gpl" type="text" [(ngModel)]="riepilogo.caligpl" disabled="true">
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Fornitore" type="text" [ngModel]="riepilogo.fabbisogno.fornitore.nomefornitore" disabled="true">
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Vettore" type="text" [ngModel]="riepilogo.trasporto.nometrasportatore" disabled="true">
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="DAS" type="text" [(ngModel)]="riepilogo.das" disabled="true">
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Prezzo gasolio fornitore" type="text" [ngModel]="prezzogasoliodioggi(riepilogo.fabbisogno.fornitore) | number" disabled="true">
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Prezzo benzina fornitore" type="text" [ngModel]="prezzobenzinadioggi(riepilogo.fabbisogno.fornitore) | number" disabled="true" >
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Prezzo supreme fornitore" type="text" [ngModel]="prezzosupremedioggi(riepilogo.fabbisogno.fornitore) | number" disabled="true">
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Prezzo gpl fornitore" type="text" [ngModel]="prezzogpldioggi(riepilogo.fabbisogno.fornitore) | number" disabled="true" >
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Numero fattura fornitore" type="text" [(ngModel)]="riepilogo.numerofatturafornitore" disabled="true">
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Importo fattura fornitore" type="text" [ngModel]="riepilogo.importofatturafornitore | currency: 'EUR'" disabled="true" >
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Numero fattura Partenopea" type="text" [(ngModel)]="riepilogo.numerofatturapartenopea" disabled="true">
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Importo fattura Partenopea" type="text" [ngModel]="riepilogo.importofattura | currency: 'EUR'" disabled="true" >
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Data bonifico" [ngModel]="riepilogo.databonifico | date :'dd-MM-yyyy'" type="date" disabled="true">
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Importo bonifico" type="number" [(ngModel)]="riepilogo.importobonifico" disabled="true">
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Importo preventivo" type="text" [ngModel]="riepilogo.importopreventivo | currency: 'EUR'" disabled="true">
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Residuo da versare" type="text" [ngModel]="riepilogo.residuodaversare | currency: 'EUR'" disabled="true" >
                                </mat-form-field>
                            </div>
                        </div>



                        <div class="clearfix"></div>

                    </div>
                </div>
            </div>
        </div>






















    </div>
</div>